.container {

    padding-left: 75px;
    padding-right: 61px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    position: relative;
    width: 1517px;
    height: 856px;
    align-items: center;
    background-image: url("../../assets/trang\ chủ.jpg");
    background-size: 100%;
}
.human {
    width: 476px;
    position: absolute;
    top: 48px;
    right: 140px;
}
.girl {
    position: absolute;
    left: 0px;
    bottom: 35px;
    height: auto;
    width: 252px;
    z-index: 5;
}
.container>div {
    padding-top: 60px;
}
.body_main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 70px;

}


.body_header {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    margin-top: 100px;
}

.body_header>img {
    width: 100px;
}

.body_header>div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.body_header>div>p {
    margin: 0;
    font-family: 'iCiel Koni';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    text-transform: uppercase;
    color: #ffffff;
}



.body_content {
    position: relative;
    width: 100%;
    height: 490px;
    display: flex;
    flex-direction: row;
    padding-left: 10px;

}

.body_note_1 {
    width: 60%;
    z-index: 4;
    height: 100%;
    background-image: url('../../assets/note_1.png');
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.body_note_1>p {
    margin:0px 50px 0 60px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    color: #23221F;
}
.body_note_1>p:first-child{
    margin-top: 50px;
}
.note_1List {
    margin-left: 50px;
    margin-right: 52px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.note_1List>li {
    display: inline-flex;
    gap: 15px;
    height: 30px;
    width: auto;
    align-items: center;
}

.note_1List>li>img{
    width: auto;
    height: 70%;
}
.note_1List>li>p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    color: #23221F;
    opacity: 0.8;
    margin: 0;
}

.body_note_2 {
    position: absolute;
    left: 752px;
    z-index: 3;
    background-image: url('../../assets/note_2.png');
    width: 10%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}

.body_note_3>form {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    z-index: 4;
    left: 815px;
    width: 34%;
    height: 100%;
    padding-top: 60px;
    margin-top: 2px;
    background-image: url('../../assets/note_3.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.body_red_tiker {
    position: absolute;
    top: -11px;
    width: 200px;
    height: 64px;
    z-index: 10;
    background-image: url('../../assets/red_tiker.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.body_note_3>form>.TicketAndDate {
    position: relative;
    width: 80%;
    height: 36px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 9px;
}

.body_note_3>form>input,
.body_note_3>form>div>input,
.body_note_3>form>div>div>input {
    padding: 10px;
    height: 40px;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
    border-radius: 10px;
    border: none;
}

.body_note_3>form>.TicketAndDate>.Ticket {
    width: 40%;
}

.body_note_3>form>div>.dateAndBtn {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.body_note_3>form>div>.dateAndBtn>.date {
    width: 84%;
}

.body_note_3>form>div>.dateAndBtn>.calendar_icon {
    width: 30px;
    height: 30px;
    background-image: url('../../assets/calendar_icon.png');
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    filter: drop-shadow(0px 3px 2px #DE9959);

}

.body_note_3>form>input {
    width: 80%;
}

.btn {
    width: 235px;
    height: 50px;
    background: #FF000A;
    border: none;
    border-radius: 5px ;
    filter: drop-shadow(0px 3px 2px #000000);
    color: #FFFFFF;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}


.body_selection {
    width: 80%;
    display: flex;
    gap: 10px;
}

.body_selection>select {
    width: 173%;
    padding: 10px;
    height: 40px;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
    border-radius: 10px;
    border: none;
}

.drop_icon {
    width: 56px;
    background-image: url('../../assets/drop_icon.png');
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    filter: drop-shadow(0px 3px 2px #DE9959);
}
