:root{
    display: flex;
    justify-content: center;
    font-size: 100%;
}
.container {
    padding-left: 75px;
    padding-right: 61px;
    box-sizing: border-box;
    position: relative;
    width: 1517px;
    height: 856px;
    align-items: center;
    background-image: url("../../assets/Sự\ kiện.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
.title{
    font-family: 'iCiel Koni';
    font-style: normal;
    font-weight: 900;
    font-size: 90px;
    line-height: 100px;
    padding-top: 110px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contain{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.contain_next{
    background-image: url(../../assets/next\ btn.png);
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    align-items: center;
    background-size:contain;
    cursor: pointer;
    filter: drop-shadow(0px 3px 2px #DE9959);
}
.contain_previous{
    background-image: url(../../assets/previous\ btn.png);
    box-sizing: border-box;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    align-items: center;
    background-size:contain;
    cursor: pointer;
    filter: drop-shadow(0px 3px 2px #DE9959);
}
.contain_event{
    gap: 30px;
    display:inline-flex;
    
}
.contain_event>div{
    width: 280px;
    height: 400px;
    background: #FFFFFF;
    margin-top: 40px;
    border-radius: 15px;
}
.contain_event>div>div:first-child{
    background-repeat: no-repeat;
    width: 100%;
    height:190px;
    background-size:100%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
.event1_img{
    background-image: url(../../assets/event1.png);
}
.event2_img{
    background-image: url(../../assets/event1.png);
}
.event3_img{
    background-image: url(../../assets/event3.png);
}
.event4_img{
    background-image: url(../../assets/event4.png);
}
.event_main{
    padding-left: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 16px;
    /* identical to box height, or 89% */

    color: #444444;
}
.event_main>div{
    display: flex;

    gap: 10px;
}
.event_main>p{
    margin: 0;
    font-size: 18px;
}
.event_main :nth-child(1){
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    color: #23221F;
    margin-top: 10px;
 }
.event_main :nth-child(4){
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    
    display: flex;
    align-items: center;
    letter-spacing: 0.005em;
    
    color: #FA7D09;
}
.calendar_icon {
    width: 24px;
    height: 24px;
    background-image: url('../../assets/calendar.png');
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    filter: drop-shadow(0px 3px 2px #DE9959);
}
.btn {
    width: 200px;
    height: 40px;
    background: #FF000A;
    border: none;
    border-radius: 5px ;
    filter: drop-shadow(0px 3px 2px #000000);
    color: #FFFFFF;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}