
.navbar{

    z-index: 4;
    background-image: url(../assets/Vector\ 2.png);
    background-position: bottom;
    position:fixed;
    width: 1517px;
    height: 127px;
}
.navbar_content{

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
}
.little_logo{
  
    width: 200px;
    height: auto;
}

.navbar_content_list{
    display: flex;
    align-items: center;
    gap: 30px;
}
.navbar_content_item>a{
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    padding: 10px 24px;
    gap: 10px;
    justify-content: center;
    width: 144px;
    height: 42px;
    border-radius: 33px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color:#ffff;
    text-decoration:none

}
.navbar_content_item{
    width: 144px;
    height: 42px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration:none
}
.navbar_content_item :hover{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 10px 24px;
    justify-content: center;
    width: 144px;
    height: 42px;
    border: 2px solid #FFFFFF;
    border-radius: 33px;
    color:#ffff;
}


.phoneNumber{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 8px;
    font-size: 15px;
    width: 137px;
    height: 32px;
    color: #FFFFFF;
} 
.phoneNumber_icon{
    border: 2px solid #FFFFFF;
    padding: 5px;
    border-radius: 50%;
}